%h4.default_event_message Suggest Your Event

= form_tag events_path, id: 'suggest_event', remote: true, format: :js, :multipart => true, authenticity_token: true do
  -# this path does an ajax post to the event controller action create
  = render 'suggest_event_form'
  = submit_tag "Suggest Event", class:'button_right', id: 'submit_suggest_event'
  = submit_tag "Cancel",  name: 'cancel', id: 'cancel', class: 'button_left'
