
#status.container.col-sm-1
  .button_right
    Sync
    %i.fa.fa-refresh
#status.container.col-sm-6
  .button_left
    Delete
    %i.fa.fa-trash-o
%table
  %thead
    %td.text-center Select
    %td.text-center Calendar
    %td.text-center
      Status
      (
      %i.fa.fa-check.isa_success
      or
      %i.fa.fa-times.isa_error
      )
    %td.text-center Last Sync
  %tbody
    - @calendars.each do |calendar|
      %tr
        %td.text-center= check_box_tag  calendar.url
        %td.text-center= calendar.organization
        %td.text-center
          %i.fa.fa-check.isa_success
        %td.text-center= calendar.last_sync.strftime("%c")
