%table
    %thead
        %td Select
        %td Calendar
        %td Status
        %td Last Sync
    %tbody
        %tr
            %td 
                = check_box_tag  "calendar"
            %td Calendar Name
            %td Status icon (√) + color
            %td mm/dd/yyy hh:mm:ss