%div
  = text_field :user, 'name', label: 'name', class: 'edit_text_field', id: 'user_name', placeholder: "Name", style: 'width:20em;'
<br/>
%div
  = text_field :user, 'email', label: 'email', class: 'edit_text_field', id: 'user_email', placeholder: "Email", style: 'width:20em;'
<br/>
%div
  = password_field :user, 'password', label: 'password', class: 'edit_text_field', id: 'user_password', placeholder: "Password", style: 'width:20em;'
<br/>
%div
  = check_box :user, "level", id: 'user_value', value: true
  Super Admin